@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #fafafa;
  --text: #4d4f62;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  padding: 85px 32px 78px 32px;
  text-align: center;
}

.description {
  font-size: 24px;
  font-weight: 275;
  line-height: 36px;
  letter-spacing: 0.17px;
  color: var(--text);
}
